<div class="post-card">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="stream-item">
        <div class="content">
          <div class="stream-item-header">
            <div class="user-profile-link">
              <%= link_to "@" + "#{post.user.name}", "#", class: "username" %>
            </div>
            <div class="time">
              ・<%= time_ago_in_words(post.created_at) %>
            </div>
          </div>
          <div class="post-text">
            <%= safe_join(post.text.split("\n"), tag(:br)) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>