<div class="card post-card">
  <div class="card-header">
    募集する
  </div>
  <div class="card-body">
    <%= form_with model: @post do |f| %>
      <div class="post-body">
        <%= f.text_area :text, class: "form-control", rows: "3" %>
      </div>
      <div class="buttons">
        <%= f.submit "投稿", class: "btn btn-primary post-btn" %>
      </div>
    <% end %>
  </div>
</div>
